/* Markazi Text Font */
@font-face {
    font-family: 'Markazi Text';
    src: url('./markazi/MarkaziText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Markazi Text';
    src: url('./markazi/MarkaziText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Markazi Text';
    src: url('./markazi/MarkaziText-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}

/* Tajawal Font */
@font-face {
    font-family: 'Tajawal';
    src: url('./tajawal/Tajawal-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;


}

@font-face {
    font-family: 'Tajawal';
    src: url('./tajawal/Tajawal-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Tajawal';
    src: url('./tajawal/Tajawal-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}