.clip {
  transform: translateY(0%) translateX(8%) perspective(500px) rotateY(10deg);
  border-radius: 25px !important;
}

/* Social Media Strip */

.social-strip {
  position: absolute;
  right: 90%;
  top: 10%;
  transform: translateY(0%) perspective(500px) rotateY(15deg) !important;
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 10;
  background: rgba(212, 175, 55, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 25px 15px 15px 25px;
  height: 400px;
  padding:30px 30px;
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.2);
}




@media (max-width: 1280px) {
  .social-strip {
    right: 85%;
    top: 10%;
  }
}
@media (max-width: 1024px) {
  .social-strip {
    right: 89%;
    top: 15%;
  }
}
@media (max-width: 685px) {
  .social-strip {
    right: 85%;
    top: 16%;
  }
}
@media (max-width: 570px) {
  .social-strip {
    right: 82%;
    top: 16%;
  }
}
@media (max-width: 485px) {
  .social-strip {
    right: 78%;
    top: 16%;
  }
}
@media (max-width: 405px) {
  .social-strip {
    right: 75%;
    top: 16%;
  }
}
@media (max-width: 375px) {
  .social-strip {
    right: 72%;
    top: 16%;
  }
}



/* @media (max-width: px) {
  .social-strip {
    right: 75%;
    top: 16%;
  }
} */

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.15);
  opacity: 0.85;
}

.social-icon img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  filter: brightness(0) saturate(100%);
}
